<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlemdarLabs.ColorPalette" version="1.0.2" targetFramework="net48" />
  <package id="AlemdarLabs.ColorPalette.Shared" version="1.0.2" targetFramework="net48" />
  <package id="BlazorColorPicker" version="2.1.0" targetFramework="net48" />
  <package id="ColorHelper" version="1.8.0" targetFramework="net48" />
  <package id="ColorPickerWPF" version="1.0.9" targetFramework="net48" />
  <package id="ColorWheel.Core" version="1.7.14.51712" targetFramework="net48" />
  <package id="Dirkster.ColorPickerLib" version="1.6.2" targetFramework="net48" />
  <package id="Dirkster.NumericUpDownLib" version="2.4.2" targetFramework="net48" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfColorPalette.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfRadialMenu.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net48" />
  <package id="WriteableBitmapEx" version="1.6.8" targetFramework="net48" />
</packages>